<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zdy.study">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读入扩展存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- 获取logcat日志 -->
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 位置采集周期 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name="com.askia.common.base.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitys.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.CourseQueryActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.BroadcastExpressActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.StudyMaterialsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.EBookActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.StudyManualActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.SchoolServiceActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <!--国际视野列表-->
        <activity
            android:name=".activitys.InternationalPerspectiveActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.PdfViewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.AddressBookActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <!--图书详情-->
        <activity
            android:name=".activitys.BookDetailsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activitys.VideoActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.WebViewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.AddressBookDetailsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.WebBasedCourseActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.WebBasedCourseDetailsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.WebBasedCourseDetailsTwoActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.OperationListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activitys.OperationDetailActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <!--书单-->
        <activity
            android:name=".activitys.BookListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <!--国际视野详情-->
        <activity
            android:name=".activitys.InternationalPerspectiveDetailsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="960"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="540"/>

    </application>


</manifest>